<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Summarizer</title>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/unicons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Nerko+One&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <style>
    body {
      background: #F6F3EB;
      font-family: 'Signika', sans-serif;
    }

    @media only screen and (max-width: 992px) {
      nav .brand-logo {
        font-size: large;
      }
    }

    .flex-parent {
      display: flex;
    }

    .jc-center {
      justify-content: center;
    }

    footer {
      text-align: center;
      text-shadow: black;
      padding: 3px;
      color: whitesmoke;
    }

    .nav-color {
      background-color: #034A46;
    }
  </style>

  <div class="navbar-fixed">
    <nav class="nav-color" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo" style="font-family: 'Nerko One', cursive;">Text Summarizer</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('compare_summary')}}">Compare</a></li>
          <li><a href="#aboutapp">About Us</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">Menu</a>
      </div>
    </nav>
  </div>

  <ul id="nav-mobile" class="sidenav">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('compare_summary')}}">Compare</a></li>
    <li><a href="#contactme">About Us</a></li>
  </ul>

  <div class="container" style="display: flex; flex-direction: column;">
    <div class="section">
      <div class="row center" style="justify-content: center;">
        <div class="input-field col s12 m10" style="display: contents;">
          <div class="icon-block">
            <h4 align="center" style="color: #314D4A; font-family: 'Leckerli One', cursive;">Link</h4>
            <form method="POST" action="/analyze_url">
              <input type="text" name="raw_url" style="color: #0A8270; text-align: center;" placeholder="Paste your Link here" required="true">
              <br><br>
              <div class="flex-parent jc-center">
                <button type="reset" class="btn btn-small waves-effect waves-light red lighten-1" style="border-radius: 100px; text-transform: unset !important;">Clear</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="submit" class="btn btn-small waves-effect waves-light light-blue lighten-1" style="border-radius: 100px; text-transform: unset !important;">Summarize</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row center">
        <div class="input-field col s12 m10" style="display: contents;">
          <div class="icon-block">
            <h4 align="center" style="color: #314D4A; font-family: 'Leckerli One', cursive;">Text</h4>
            <form method="POST" action="/analyze">
              <textarea name="rawtext" cols="10" rows="10" style="color: #0A8270; text-align: center; vertical-align: middle;" class="form-control" required="true" placeholder="Enter your Text here"></textarea>
              <br />
              <br>
              <div class="flex-parent jc-center">
                <button type="reset" class="btn btn-small waves-effect waves-light red lighten-1" style="border-radius: 100px; text-transform: unset !important;">Clear</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="submit" class="btn btn-small waves-effect waves-light light-blue lighten-1" style="border-radius: 100px; text-transform: unset !important;">Summarize</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section section-solutions-about #fafafa grey lighten-5">
    <div class="container white-text">
      <div class="row">
        <div class="col s12 m6 grey darken-3" style="display: inline-grid; margin-top: 2.1em;">
          <div class="icon-block">
            <h4 align="center" style="color: rgb(255, 255, 255); font-family: 'Leckerli One', cursive;">Text Summary</h4>
            <div class="" role="alert">
              <p style="color: rgb(255, 255, 255); display: flex; justify-content: center;">Reading Time : <span style="color:#6e89e9;">{{ summary_reading_time }} MINUTES </span></p>
            </div>
            <p class="light">{{ final_summary }}</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h4 align="center" style="color: rgb(0, 0, 0); font-family: 'Leckerli One', cursive;">Input Text</h4>
            <p style="color: rgb(0, 0, 0); display: flex; justify-content: center;">Reading Time : <span style="color:#6e89e9;">{{ final_reading_time }} MINUTES </span></p>
            <p class="light" style="color: #000000;">{{ctext}}</p>
            <div class="alert alert-info" role="alert">
              <p style="color: rgb(0, 0, 0); display: flex; justify-content: center;">Time Elapsed : <span style="color:#ff0000;">{{ final_time }} MINUTES </span></p>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="page-footer grey darken-4">
    <div class="container" id="aboutapp">
      <div class="row">
        <h5 class="white-text" align="center">B.Tech MAJOR PROJECT</h5>
        <p class="grey-text text-lighten-4" align="center">👷 Project Authors : <a href="https://github.com/Raghav-77" style="color: rgb(183, 228, 255);" target="_blank">Raghav Alawadhi</a> & <a href="/" onclick="return false;" style="color:  rgb(183, 228, 255);">Raghav Aggarwal</a></p>
        <p class="grey-text text-lighten-4" align="center">Supervisor : <a href="/" onclick="return false;" style="color: greenyellow;">Ms. Abhilasha Sharma</a><br></p>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>

</html>